<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Top Clubs</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="https://pngimg.com/uploads/football/football_PNG52787.png">
    <style media="screen">
          body {
            background-image: url({{country.img_url}});
            background-size: cover;
            background-size: 100vw 100vh;
            }
    </style>
  </head>
  <body style="margin:0px" >
    <div class="contClubs">
      <div class="head">
        {% include "header.html" %}
      </div>
      <div class="clubs">
        <h1 style="display: inline; text-align:center;">{{country.name}}</h1>
        {% for i in teams %}
        <a href="{{url_for('club', coun = country.name, club_id = i.id)}}" class="club">{{i.name}}</a>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
