<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Top Club</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="https://pngimg.com/uploads/football/football_PNG52787.png">
  </head>
  <body class="hoba">
    <div class="head">
      {% include "header.html" %}
    </div>
    <h3>Are you sure you want to delete {{DeletedClub.name}} ?</h3>
    <form class="del" action="{{url_for('delete_club', club_id = club_id)}}" method="post">
      <input type="submit" name="" value="Submit">
      <input type="submit" name="" value="Cancel" formaction="{{url_for('club', coun = DeletedClub.country.name, club_id = DeletedClub.id)}}" formmethod="get">
    </form>
  </body>
</html>
