<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Top Clubs</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="https://pngimg.com/uploads/football/football_PNG52787.png">
  </head>
  <body class="hoba">
    <div class="head">
      {% include "header.html" %}
    </div>
    <h1>Add New Club</h1>
    <form class="" action="{{url_for('new_club')}}" method="POST">
      <p>Name <br> <input type="text" name="name" value="" required></p>
      <p>Description <br> <input type="text" name="description" value="" required></p>
      <p>Country <br> <select class="" name="coun">
        <option value="1">England</option>
        <option value="2">Spain</option>
        <option value="3">Germany</option>
        <option value="4">Italy</option>
        <option value="5">France</option>
        <option value="6">Netherlands</option>
        <option value="7">Brazil</option>
        <option value="8">Egypt</option>

      </select> </p>
      <p><input type="submit" name="" value="Submit"></p>
    </form>
  </body>
</html>
